<ion-header>
  <ion-navbar>
    <ion-title>
      Tarefas Feitas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let tarefa of tarefas">
      {{tarefa.nome}}
    </ion-item>
  </ion-list>
</ion-content>
