<ion-header>
  <ion-navbar>
    <ion-title>Tarefas</ion-title>
  </ion-navbar>
  <ion-fab bottom right edge>
    <button ion-fab mini (click)="criarNovaTarefa()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let tarefa of tarefas">
      <ion-item>
        {{tarefa.nome}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editar(tarefa)">
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
        <button ion-button color="secondary" (click)="marcarComoFeita(tarefa)">
          <ion-icon name="ribbon"></ion-icon>
          Feito
        </button>
        <button ion-button color="danger" (click)="apagar(tarefa)">
          <ion-icon name="trash"></ion-icon>
          Apagar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
