<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Aguardando" tabIcon="alarm" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Feitas" tabIcon="ribbon" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>
