<!--
  Generated template for the NovaTarefaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>NovaTarefa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form name="tarefaForm" role="form" novalidate (ngSubmit)="salvar()" #tarefaForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label floating>
          O que será feito?
        </ion-label>
        <ion-input type="text" name="nome" id="nome" #nomeInput="ngModel"
                   [(ngModel)]="tarefa.nome" required maxlength="25"></ion-input>
      </ion-item>
      <ion-item *ngIf="nomeInput.dirty && nomeInput.invalid">
        <small *ngIf="nomeInput.errors.required">
          Este campo é obrigatório.
        </small>
        <small *ngIf="nomeInput.errors.maxlength">
          No máximo 25 caracteres
        </small>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button color="positive" [disabled]="tarefaForm.form.invalid" block>Salvar
    </button>
  </form>
</ion-content>
